<ion-content padding class="bg-main-page">
  <ion-row>
    <ion-col style="height: fit-content;">
      <div class="back">
        <a class="btn-back" (click)="goback()">
          <ion-icon name="arrow-back-outline"></ion-icon> BACK
        </a>
      </div>
    </ion-col>
  </ion-row>
  <div id="container">
    <ion-row>
      <ion-col>
        <a class="btn eng" (click)="getValue('englishAlphabet')" routerLink="/choose-knowledge">ตัวอักษร<br>ภาษาอังกฤษ</a>
      </ion-col>
      <ion-col>
        <a class="btn thai" (click)="getValue('thaiAlphabet')" routerLink="/choose-knowledge">ตัวอักษร<br>ภาษาไทย</a>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
