<ion-content padding class="bg-all-knowledge">
  <ion-row>
    <ion-col>
      <div class="back">
        <a class="btn-back" (click)="goback()">
          <ion-icon name="arrow-back-outline"></ion-icon> BACK
        </a>
      </div>
    </ion-col>
  </ion-row>

  <div id="container">
    <ion-row>
      <ion-col>
        <a style="margin-right: 3%;" class="btn" routerLink="/alphabet-category">ตัวอักษร</a>
      </ion-col>
      <ion-col>
        <a style="margin-left: 9%; padding-top: 18px;" class="btn" (click)="getTopic('number')" routerLink="/choose-knowledge">ตัวเลข</a>
      </ion-col>
    </ion-row>
    <!-- <div style="padding: 20px;"></div> -->
    <ion-row style="margin-top: 9%;">
      <ion-col>
        <a style="margin-left: 5%;" class="btn" (click)="getTopic('fruit')" routerLink="/choose-knowledge">ผลไม้</a>
      </ion-col>
      <ion-col>
        <a style="margin-left: 9%;" class="btn" (click)="getTopic('vehicle')" routerLink="/choose-knowledge">ยานพาหนะ</a>
      </ion-col>
      <ion-col>
        <a class="btn" (click)="getTopic('animal')" routerLink="/choose-knowledge">สัตว์</a>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
