.bg-all-knowledge {
    --background: url(../../../assets/img/background/bg-allKnowledge.jpg) 0 0/100% 100% no-repeat;
}

#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 55%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

.btn {height: 100px;
    width: 125px;
    border-radius: 50%;
    background: none;
    // background-color: palevioletred; /* Green */
    border: none;
    // color: white;
    // padding-top: 34px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.back {
  padding: 2%;
}

.btn-back {
  color: white;
  background-color: orange;
  // width: 16px;
  // height: auto;
  font-size: 20px;
}