.bg-choose-checkpoint {
  --background: url(../../../assets/img//background/bg-page-th.png) 0 0/100% 100% no-repeat;
  #container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Sanamdeklen';
    font-weight: bold;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
}


.btn {
    height: 90px;
    width: 100px;
    border-radius: 50%;
    // background-color: palevioletred; /* Green */
    // border: none;
    // color: white;
    // font-weight: bold;
    // padding-top: 13px;
    text-align: center;
    display: inline-block;
    // font-size: 20px;
    cursor: pointer;
}

.pass {
  padding-top: 5px;
  font-size: 61px;
  color: black;
  background-color: #D3FCC5;
  border: 2px solid lightgreen;
}

.disable {
  font-size: 70px;
  padding-top: 5px;
  color: gray;
  background-color: lightgray;
  border: 2px solid gray;
}

.btn-back {
  height: 100%;
  width: 26%;
  border-radius: 50%;
  display: inline-block;
  background-color: none;
  cursor: pointer;
}

.score {
  font-family: 'Sanamdeklen';
  font-weight: bold;
  font-size: 20px;
}