.bg-choose-checkpoint {
    --background: url(../../../../assets/img/background/bg.jpg) 0 0/100% 100% no-repeat;
}

// #container {
//     text-align: center;
  
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 50%;
//     transform: translateY(-50%);
//   }
  
//   #container strong {
//     font-size: 20px;
//     line-height: 26px;
//   }
  
//   #container p {
//     font-size: 16px;
//     line-height: 22px;
  
//     color: #8c8c8c;
  
//     margin: 0;
//   }
  
//   #container a {
//     text-decoration: none;
//   }

.img1 {
    width: 30%;
    height: auto;
}

.img2 {
    width: 20%;
    height: auto;
}

.img3 {
    width: 40%;
    height: auto;
}

.img4 {
    width: 45%;
    height: auto;
}

.col-left {
    // margin-top: 5%;
    // height: 300px;
    background-color: #F1F0EF;
    margin-left: 3%;
    margin-bottom: 2%;
    text-align: center;
}

.col-right {
    // margin-top: 5%;
    // height: 300px;
    background-color: #F1F0EF;
    margin-right: 3%;
    margin-bottom: 2%;
}

.col-shadow {
    text-align: center;
    padding-top: 5%;
}

.shadow {
    width: 80%;
    height: auto;
}

.btn {
    padding-top: 2%;
    margin: 1%;
    margin-left: 3%;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    color: white;
    background-color: orange;
    cursor: pointer;
}

.score {
    padding-right: 14px;
    font-family: 'Sanamdeklen';
    font-weight: bold;
}

span {
    font-size: 26px;
    color: black;
}

.toppic {
    text-align: center;
}

.txt {
    color: black;
    font-size: 16px;
    margin-top: 1%;
}

.speaker {
    width: 35%;
    height: auto;
}

.ngao {
    border-radius: 26px;
    width: 120px;
    height: 120px;
    padding: 7px;
    // margin-left: 11px;
}

#successMessage {
    position: absolute;
    left: 580px;
    top: 250px;
    width: 0;
    height: 0;
    z-index: 100;
    background: #dfd;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    padding: 20px;
}