<ion-content padding class="bg-choose-checkpoint">
  <ion-row class="header" style="height: 14%;">
    <ion-col style="height: fit-content;">
      <a class="btn" routerLink="/all-quiz"><ion-icon name="home"></ion-icon></a>
    </ion-col>

    <ion-col style="height: fit-content;">
    </ion-col>

    <ion-col style="text-align: right; height: fit-content;">
      <p class="score">SCORE : {{ score }}</p>
    </ion-col>
  </ion-row>

  <div id="container">
    <ion-row>
      <ion-col class="col-top" >
        <h1>เสียงนี้คือ</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-mid">
        <img class="img-speaker" src="../../../../assets/img/speaker.png" alt="" srcset="">
        <h5 class="txt">กดเพื่อฟังเสียง</h5>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let n of list; let i = index;">
      <!-- <div *ngFor="let dev of listen; let i = index;">
        <h2>{{ dev.id }}</h2>
      </div> -->
      <ion-col class="col-buttom" *ngFor="let dev of list[i].data; let j = index;">
        <div *ngIf="i < 1">
          <a (click)="getAns(j+1)">
            <img class="img" src="{{ list[i].data[j].alphabet }}" alt="">
          </a>
        </div>
      </ion-col>

      <!-- <ion-col class="col-buttom" *ngFor="let d of list; let i = index;">
        <p>{{ d.id }}</p>
      </ion-col> -->

      <!-- <img class="img" src="../../../../assets/img/animal/dog.png" alt=""> -->
      <!-- <ion-col class="col-buttom">
        <button>
          <img class="img" src="../../../../assets/img/animal/bird.png" alt="">
        </button>
      </ion-col>
      <ion-col class="col-buttom">
        <button>
          <img class="img" src="../../../../assets/img/animal/horse.png" alt="">
        </button>
      </ion-col> -->
    </ion-row>
  </div>
</ion-content>
