.bg-choose-checkpoint {
  --background: url(../../../../assets/img/background/bg-page-th.png) 0 0/100% 100% no-repeat;
  .button-back{
    position: static;
    height: 90%;
    width: 11%;
    img{
      width: 100%;
      height: 100%;
    }
  }
}

.my-custom-class {
    max-width: 50%;
}

#container {
    font-family: 'Sanamdeklen';
    font-weight: bold;
  }

.img {
    height: auto;
}

.col-top {
    color: black;
    text-align: center;
}

.col-buttom {
    text-align: center;
}

.btn {
    padding-top: 2%;
    margin: 1%;
    margin-left: 3%;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    color: white;
    background-color: orange;
    cursor: pointer;
}

.score {
    padding-right: 14px;
    font-family: 'Sanamdeklen';
    font-weight: bold;
}

.col-mid {
    text-align: center;
    color: black;
}

.img-speaker {
    width: 10%;
    height: auto;
}

.txt {
    margin-top: 1%;
}

.header {
    font-family: 'Sanamdeklen';
    font-weight: bold;
}

.home {
    margin-left: 16%;
    width: 35%;
    height: 25%;
    font-size: 28px;
    background-color: lightblue;
    border-radius: 8px;
  }
  
  .replay {
    width: 35%;
    height: 25%;
    font-size: 28px;
    background-color: darkorange;
    border-radius: 8px;
  }

  .no {
    width: 35%;
    height: 25%;
    font-size: 28px;
    background-color: limegreen;
    border-radius: 8px;
    font-family: 'Sanamdeklen';
    color: white;
  }
  
  .yes {
    width: 35%;
    height: 25%;
    font-size: 28px;
    background-color: mediumvioletred;
    border-radius: 8px;
    font-family: 'Sanamdeklen';
    color: white;
  }
  
  .img-congrate {
    width: 50%;
  }
  
  .img-fail {
    padding-top: 19%;
    width: 100%;
  }
  
  .txt-congrate {
    font-family: 'Sanamdeklen';
    font-weight: bold;
    font-size: 40px;
    color: lightpink;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  
  .txt-fail {
    font-family: 'Sanamdeklen';
    font-weight: bold;
    font-size: 40px;
    color: lightgreen;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  
  #successMessage, #failMessage, #resetGame {
    position: absolute;
    left: 580px;
    top: 250px;
    width: 0;
    height: 0;
    z-index: 100;
    background: white;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    padding: 20px;
  }