<ion-content padding class="bg-choose-checkpoint">
  <ion-row style="height: 14%;">
    <ion-col style="height: fit-content;">
      <button class="btn" routerLink="/all-quiz"><ion-icon name="home"></ion-icon></button>
    </ion-col>

    <ion-col style="height: fit-content;">
    </ion-col>

    <ion-col style="text-align: right; height: fit-content;">
      <p class="score">SCORE : 0</p>
    </ion-col>
  </ion-row>

  <div id="container">
    <ion-row>
      <ion-col class="col-left">
        <ion-row>
          <div style="text-align: center; width: 100%;">
            <img class="img1" src="../../../../assets/img/animal/elephant.png" alt="">
          </div>
        </ion-row>
        <div style="padding: 15px;"></div>
        <ion-row>
          <div style="text-align: center; width: 100%;">
            <img class="img2" src="../../../../assets/img/animal/giraffe.png" alt="">
          </div>
        </ion-row>
      </ion-col>
      
      <ion-col class="col-shadow">
        <img class="shadow" src="../../../../assets/img/animal/Picture5.png" alt="">
      </ion-col>

      
      <ion-col class="col-right">
        <ion-row>
          <div style="text-align: center; width: 100%;">
            <img class="img3" src="../../../../assets/img/animal/dog.png" alt="">
          </div>
        </ion-row>
        <div style="padding: 15px;"></div>
        <ion-row>
          <div style="text-align: center; width: 100%;">
            <img class="img4" src="../../../../assets/img/animal/bird.png" alt="">
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
