<ion-content padding class="bg-choose-checkpoint">
  <ion-row style="height: 14%;">
    <ion-col style="height: fit-content;">
      <a class="btn" routerLink="/all-quiz"><ion-icon name="home"></ion-icon></a>
    </ion-col>

    <ion-col style="height: fit-content;">
    </ion-col>

    <ion-col style="text-align: right; height: fit-content;">
      <p class="score">SCORE : {{ score }}</p>
    </ion-col>
  </ion-row>


  <ion-row id="cardPile" style="text-align: center;">
    
    <ion-col class="col-mid" id="cardPile">
    </ion-col>
  </ion-row>

  <div style="padding: 20px;"></div>

  <ion-row id="cardSlots" style="text-align: center;">
    <ion-col class="col-mid">
    </ion-col>
    <ion-col class="col-mid">
      <div id="cardSlots"> </div>
    </ion-col>
    <ion-col class="col-mid">
    </ion-col>
  </ion-row>
  
  <div id="successMessage" style="text-align: center;">
    <h2 style="margin-top: 20%;">ยินดีด้วย!</h2>
    <button (click)="go_to_chk_point()">ตกลง</button>
  </div>
 
</ion-content>

