.bg-choose-checkpoint {
    --background: url(../../../../assets/img/background/bg.jpg) 0 0/100% 100% no-repeat;
}
img {
  width: 200px;
  display: inline-block;
  height: auto;
  padding: 0px;
}

.btn {
  padding-top: 2%;
  margin: 1%;
  margin-left: 3%;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  color: white;
  background-color: orange;
  cursor: pointer;
}

.score {
  padding-right: 14px;
  font-family: 'Sanamdeklen';
  font-weight: bold;
}

.item1{
  background-color: aqua;
}
.col-mid {
  text-align: center;
}


#successMessage {
  position: absolute;
  left: 580px;
  top: 250px;
  width: 0;
  height: 0;
  z-index: 100;
  background: #dfd;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  padding: 20px;
}