<ion-content padding class="bg-choose-checkpoint">
  <ion-row>
    <ion-col>
      <div>
        <a class="btn-back" (click)="goback()">
          <img src="../../../assets/img/btn/btn-back.png" alt="">
        </a>
      </div>
    </ion-col>
  
    <!-- <ion-col>
    </ion-col>
  
    <ion-col style="text-align: right; padding-right: 20px;">
      <div>
        <p>SCORE : 0</p>
      </div>
    </ion-col> -->
  </ion-row>

  <div id="container">
    <ion-row>
      <ion-col>
        <div class="btn pass"><img src="{{show.alphabet}}" alt="" srcset=""></div>
      </ion-col>
    </ion-row>
    <div style="padding: 20px;"></div>
    <ion-row>
      <ion-col>
        <a style="background: none;"><img src="../../../assets/img/speaker-purple.png" alt="" srcset=""></a>
        <p class="speaker">กดเพื่อฟังเสียงภาษาไทย</p>
      </ion-col>
      <ion-col>
        <a style="background: none;"><img src="../../../assets/img/speaker-pink.png" alt="" srcset=""></a>
        <p class="speaker">กดเพื่อฟังเสียงภาษาอังกฤษ</p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
