.bg-all-quiz {
    --background: url(../../../assets/img/background/bg.jpg) 0 0/100% 100% no-repeat;
}

#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Sanamdeklen';
    font-weight: bold;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

.btn {
    height: 120px;
    width: 150px;
    border-radius: 50%;
    background-color: palevioletred; /* Green */
    border: none;
    color: white;
    padding-top: 35px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.back {
  padding: 2%;
}

.btn-back {
  background-color: orange;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  width: 105px;
  font-family: 'Sanamdeklen';
  font-weight: bold;
  height: 31px;
  cursor: pointer;
}