<ion-content padding class="bg-all-quiz">
  <ion-row>
    <ion-col>
      <div class="back">
        <a class="btn-back" (click)="gotoAllQuiz()">
          <ion-icon name="arrow-back-outline"></ion-icon> BACK
        </a>
      </div>
    </ion-col>
  </ion-row>

  <div id="container" style="margin-top: 3%;">
    <ion-row>
      <ion-col>
        <a class="btn" routerLink="/choose-checkpoint" (click)="getQuiz('สัตว์')" style="padding-top: 10%;">สัตว์</a>
      </ion-col>
      <ion-col>
        <a class="btn" (click)="getQuiz('ตัวอักษรภาษาไทย')" routerLink="/choose-checkpoint">ตัวอักษร</a>
      </ion-col>
    </ion-row>
    <div style="padding: 10px;"></div>
    <ion-row>
      <ion-col>
        <a class="btn" (click)="getQuiz('ผลไม้')" routerLink="/choose-checkpoint">ผลไม้</a>
      </ion-col>
      <!-- <ion-col>
        <a class="btn" routerLink="/choose-checkpoint">จับคู่เสียงของสัตว์</a>
      </ion-col> -->
    </ion-row>
  </div>
</ion-content>
