<ion-content padding class="bg-main-page">
  <ion-row style="height: 14%;">
    <ion-col style="height: fit-content;">
      <button class="home" routerLink="/home"><ion-icon name="home"></ion-icon></button>
    </ion-col>
  </ion-row>

  <div id="container">
    <ion-row>
      <ion-col class="knowledge">
        <button class="btn" routerLink="/all-knowledge">แบบความรู้</button>
      </ion-col>
      <ion-col class="quiz">
        <button class="btn" routerLink="/all-quiz">แบบทดสอบ</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
