<ion-content padding class="bg-main-page">
  <ion-row style="height: 18%;">
    <ion-col style="height: fit-content;">
      <div>
      </div>
      <a class="home" routerLink="/home"><ion-icon name="home" (click)="goback()"></ion-icon></a>
    </ion-col>
  </ion-row>

  <!-- routerLink="/home" (click)="goback()" -->

  <div id="container">
    <ion-row>
      <ion-col class="knowledge">
        <a class="btn" routerLink="/all-knowledge">แบบความรู้</a>
      </ion-col>
      <ion-col class="quiz">
        <a class="btn" routerLink="/all-quiz">แบบทดสอบ</a>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
