.bg-main-page {
  --background: url(../../assets/img/background/page2.png) 0 0/100% 100% no-repeat;

  #container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 53%;
    transform: translateY(-50%);
    font-family: 'Sanamdeklen';
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
}


.btn {
  height: 220px;
  width: 240px;
  margin-bottom: 7%;
  border-radius: 50%;
  background-color: none;
  border: none;
  display: inline-block;
  cursor: pointer;
  // color: rgb(165, 101, 42);
  // text-shadow:1px 1px 0 burlywood;
  // padding-top: 8%;
  // text-align: center;
  // font-size: 30px;
  // font-weight: bold;
}

.knowledge {
  margin-left: 13%;
  // margin-bottom: 7%;
}

.quiz {
  margin-right: 9%;
  // margin-bottom: 7%;
}

.home {
  // margin-top: 1%;
  // margin-left: 2%;
  // padding-top: 6px;
  // padding-left: 2px;
  height: 100%;
  width: 26%;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  font-size: 33px;
  color: white;
  background-color: none;
  cursor: pointer;
}