// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

.bg-choose-checkpoint {
    --background: url(../../../../assets/img/background/bg.jpg) 0 0/100% 100% no-repeat;
}

// #container {
//     text-align: center;
  
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 50%;
//     transform: translateY(-50%);
//   }
  
//   #container strong {
//     font-size: 20px;
//     line-height: 26px;
//   }
  
//   #container p {
//     font-size: 16px;
//     line-height: 22px;
  
//     color: #8c8c8c;
  
//     margin: 0;
//   }
  
//   #container a {
//     text-decoration: none;
//   }

.img {
    width: 55%;
    height: auto;
}

.img2 {
    width: 35%;
    height: auto;
}

.img3 {
    width: 63%;
    height: auto;
}

.img4 {
    width: 65%;
    height: auto;
}

.col-top {
    color: black;
    text-align: center;
}

.col-mid {
    text-align: center;
}

.col-buttom-1 {
    background-color: lightgreen;
    text-align: center;
}

.btn {
    margin: 1%;
    margin-left: 3%;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    color: white;
    background-color: orange;
    cursor: pointer;
}

.score {
    padding-right: 14px;
}

.col-mid {
    text-align: center;
    color: black;
}

.img-speaker {
    width: 10%;
    height: auto;
}

.img {
    width: 45%;
    height: auto;
}

.txt {
    margin-top: 1%;
}

.ngao {
    width: 80px;
    height: 80px;
    border-radius: 10%;
    background-color: rgb(190, 190, 190);
    border: 3px solid lightgray;
    font-size: 55px;
    padding-top: 2%;
}

.img-ngao{
    border-radius: 22px;
    width: 100px;
    height: 100px;
    padding: 7px;
    // margin-left: 11px;
}