<ion-content padding class="bg-choose-checkpoint">
  <ion-row style="height: 14%;">
    <ion-col style="height: fit-content;">
      <a class="btn" routerLink="/all-quiz"><ion-icon name="home"></ion-icon></a>
    </ion-col>

    <ion-col style="height: fit-content;">
    </ion-col>

    <ion-col style="text-align: right; height: fit-content;">
      <p class="score">SCORE : 0</p>
    </ion-col>
  </ion-row>

  <div id="container">
    <ion-row>
      <ion-col class="col-top">
        <h1>จงเรียงลำดับตัวเลขจากน้อยไปมากต่อไปนี้</h1>
      </ion-col>
    </ion-row>

    <div style="padding: 10px;"></div>

    <ion-row>
      <ion-col class="col-mid">
        <img class="img" src="../../../../assets/img/number/two.png" alt="">
      </ion-col>
      <ion-col class="col-mid">
        <img class="img" src="../../../../assets/img/number/four.png" alt="">
      </ion-col>
      <ion-col class="col-mid">
        <img class="img" src="../../../../assets/img/number/one.png" alt="">
      </ion-col>
      <ion-col class="col-mid">
        <img class="img" src="../../../../assets/img/number/three.png" alt="">
      </ion-col>
    </ion-row>

    <div style="padding: 10px;"></div>

    <ion-row>
      <ion-col class="col-mid">
        <img class="img-ngao" src="../../../../assets/img/24663.jpg" alt="">
      </ion-col>
      <ion-col class="col-mid">
        <img class="img-ngao" src="../../../../assets/img/24663.jpg" alt="">
      </ion-col>
      <ion-col class="col-mid">
        <img class="img-ngao" src="../../../../assets/img/24663.jpg" alt="">
      </ion-col>
      <ion-col class="col-mid">
        <img class="img-ngao" src="../../../../assets/img/24663.jpg" alt="">
      </ion-col>
    </ion-row>
  </div>
</ion-content>
