<ion-content padding class="bg-choose-checkpoint">
  <ion-row style="height: 14%;">
    <ion-col style="height: fit-content;">
      <a class="btn" (click)="resetGame()"><ion-icon name="home"></ion-icon></a>
    </ion-col>

    <ion-col></ion-col>
    <ion-col></ion-col>

    <ion-col style="height: fit-content; text-align: right; padding-top: 2%; padding-left: 12%;">
      <label for="" *ngFor="let h of heart" style="padding: 4%;">
        <img src="{{ h.img }}" alt="" width="25px">
      </label>
    </ion-col> 

    <ion-col style="text-align: right; height: fit-content;">
      <p class="score">SCORE : {{ score }}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-top">
      <h1 class="question">จงเรียงลำดับตัวเลขจากน้อยไปมากต่อไปนี้</h1>
    </ion-col>
  </ion-row>

  <div style="padding: 1%;"></div>

  <ion-row id="cardPile" style="text-align: center;">
    <ion-col class="col-mid" id="cardPile">
    </ion-col>
  </ion-row>

  <div style="padding: 1%;"></div>

  <ion-row id="cardSlots" style="text-align: center;">
    <ion-col class="col-mid" id="cardSlots">
    </ion-col>
  </ion-row>

  <div id="resetGame" style="text-align: center;">
    <ion-row>
      <ion-col style="text-align: right;"><img class="img-fail" src="../../../../assets/img/cry.png" alt=""></ion-col>
      <ion-col style="text-align: center; margin-top: 7%;">
        <span class="txt-congrate">แน่ใจหรือว่าต้องการเลิก?</span><br>
        <label for="">
          <span><button class="yes" (click)="playBgSound()" routerLink="/choose-checkpoint"><h3><strong>ใช่</strong></h3></button></span>
          <span style="padding: 5%;"></span>
          <span><button class="no" (click)="continueGame()"><h3><strong>ไม่</strong></h3></button></span>
        </label>
      </ion-col>
    </ion-row>
  </div>
  
  <div id="successMessage" style="text-align: center;">
    <ion-row>
      <ion-col style="text-align: right;"><img class="img-congrate" src="../../../../assets/img/congrate.png" alt=""></ion-col>
      <ion-col style="text-align: left; margin-top: 20%;">
        <span class="txt-congrate">สุดยอดไปเลย</span>
        <button class="home" (click)="gotoCheckpoint()"><ion-icon name="home" style="margin-top: 6%;"></ion-icon></button>
      </ion-col>
    </ion-row>
  </div>

  <div id="failMessage" style="text-align: center;">
    <ion-row>
      <ion-col style="text-align: right;"><img class="img-fail" src="../../../../assets/img/cry.png" alt=""></ion-col>
      <ion-col style="text-align: center; margin-top: 7%;">
        <span class="txt-fail">ไม่ไหวๆ<br>ลองใหม่อีกทีนะ</span><br>
        <label for="">
          <span><button class="replay" (click)="drag_drop(data_sort_number)"><ion-icon name="reload" style="margin-top: 6%;"></ion-icon></button></span>
          <span><button class="home" (click)="fail()"><ion-icon name="home" style="margin-top: 6%;"></ion-icon></button></span>
        </label>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
