<ion-content padding class="bg-choose-checkpoint">
  <ion-row>
    <ion-col style="height: fit-content;">
      <div class="back">
        <a class="btn-back" (click)="goback()">
          <ion-icon name="arrow-back-outline"></ion-icon> BACK
        </a>
      </div>
    </ion-col>
  </ion-row>

  <div id="container" style="margin-top: 4%;">
    <ion-slides>
      <ion-slide *ngFor="let n of dataString; let i = index;">
        <div>
          <ion-row>
            <ion-col *ngFor="let m of dataString; let j = index;" style="padding-left: 56px; padding-right: 56px;">
              <div *ngIf="j < 3">
                <div class="btn passs" (click)="getValue(dataString[i].data[j])" (click)="playKnowledge()"><img class="img-a" src="{{ dataString[i].data[j].alphabet }}" alt="" srcset=""></div>
                <!-- <div class="btn passs" (click)="getValue(dataString[i].data[j])" (click)="playKnowledge()"><img class="img-a" src="../../../assets/img/number/1.png" alt="" srcset=""></div> -->
              </div>
            </ion-col>
          </ion-row>
          <div style="padding: 20px;"></div>
          <ion-row>
          <ion-col *ngFor="let m of dataString; let j = index;" style="padding-left: 56px; padding-right: 56px;">
            <div *ngIf="j < 3">
              <div class="btn pass" (click)="getValue(dataString[i].data[j+3])" (click)="playKnowledge()"><img class="img-a" src="{{ dataString[i].data[j+3].alphabet }}" alt="" srcset=""></div>
              <!-- <div class="btn pass" (click)="getValue(dataString[i].data[j+3])" (click)="playKnowledge()"><img class="img-a" src="../../../assets/img/number/1.png" alt="" srcset=""></div> -->
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
