<ion-content [fullscreen]="true" padding class="bg-home"> 
  <div id="container">
    <!-- <div *ngFor="let dev of developers; let i = index;">
      <h2>{{ dev.name }}</h2>
    </div> -->
    <a class="btn" routerLink="/main-page">เริ่มเกม</a>


    <!-- <span style="color: black;">{{ x.ID }}</span> -->
    <!-- <p>Huay</p>
    <p>{{ x.ID }}</p> -->
    <!-- <p *ngFor="let item of x">{{ item.ID }}</p> -->

    <!-- <p>{{ x }}</p>
    <p>{{ x.ID }}</p>
    <div *ngFor="let item of x">
      <h1>{{ item.ID }}</h1>
    </div> -->
  </div>
</ion-content>
