<ion-content [fullscreen]="true" padding class="bg-home"> 
  <div id="container">
    <!-- <div *ngFor="let dev of developers; let i = index;">
      <h2>{{ dev.name }}</h2>
    </div> -->
    <!-- <div id="cardPile"> </div>
    <div id="cardSlots"> </div> -->

    <a class="btn" routerLink="/main-page"><img src="../../assets/img/btn/button-play.gif" alt="" srcset="" width="30%"></a>


    <!-- <span style="color: black;">{{ x.ID }}</span> -->
    <!-- <p>Huay</p>
    <p>{{ x.ID }}</p> -->
    <!-- <p *ngFor="let item of x">{{ item.ID }}</p> -->

    <!-- <p>{{ x }}</p>
    <p>{{ x.ID }}</p>
    <div *ngFor="let item of x">
      <h1>{{ item.ID }}</h1>
    </div> -->

    <!-- <div id="successMessage">
      <h2>Congratulations!</h2>
      <button (click)="init()">Play Again</button>
    </div> -->
  </div>
</ion-content>
