<ion-content [fullscreen]="true" padding class="bg-home"> 
  <ion-row style="height: 14%;">
    <ion-col></ion-col>
    <ion-col></ion-col>
    <ion-col></ion-col>
    <ion-col></ion-col>
    <ion-col></ion-col>
    <ion-col></ion-col> 

    <ion-col style="text-align: right; height: fit-content;">
      <div *ngIf="!statusSound; else Mute">
        <a class="btn-sound" (click)="turnOnOffSound()"><img src="../../assets/img/btn/volume.png" alt="" width="45%"></a>
      </div>
      <ng-template #Mute>
        <a class="btn-sound" (click)="turnOnOffSound()"><img src="../../assets/img/btn/mute.png" alt="" width="45%"></a>
      </ng-template>
    </ion-col>
  </ion-row>

  <div id="container">
    <!-- <div *ngFor="let dev of developers; let i = index;">
      <h2>{{ dev.name }}</h2>
    </div> -->
    <!-- <div id="cardPile"> </div>
    <div id="cardSlots"> </div> -->

    <a class="btn" routerLink="/main-page"></a>


    <!-- <span style="color: black;">{{ x.ID }}</span> -->
    <!-- <p>Huay</p>
    <p>{{ x.ID }}</p> -->
    <!-- <p *ngFor="let item of x">{{ item.ID }}</p> -->

    <!-- <p>{{ x }}</p>
    <p>{{ x.ID }}</p>
    <div *ngFor="let item of x">
      <h1>{{ item.ID }}</h1>
    </div> -->

    <!-- <div id="successMessage">
      <h2>Congratulations!</h2>
      <button (click)="init()">Play Again</button>
    </div> -->
  </div>
</ion-content>
