.bg-home {
  --background: url(../../assets/img/background/bg+button-start.gif) 0 0/100% 100% no-repeat;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 66%;
  transform: translateY(-50%);
  font-family: 'Sanamdeklen';
  font-weight: bold;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.btn {
  margin-left: 4%;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: none;
  border: none;
  color: white;
  padding-top: 40px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
}

.btn-sound{
  margin-right: 13%;
  border: none;
  color: white;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

